body {
}
.title {
  display: inline-block;
  padding-top:7px;
  font-size:24px;
}

.title-font {
  font-family: 'montserrat';
  font-weight:300;
  font-size:24px;
}

.title-container {
  margin:50px auto;
  text-align: center; 
}
